@import '../../styles/variables.scss';

.logo {
    display: block;
    max-height: 100px;
    max-width: 160px;
    &--header {
        @media screen and (max-width: 900px) {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            margin-bottom: 23px;
            
        }
    }
    &--footer {
        position: static;
        padding-left: 30px;
        max-width: 100%;
        @media screen and (max-width: 800px) {
            margin: 0 auto;
            padding-left: 0;
        }
    }
    &__img {
        width: 120px;
        height: 60px;
        &--header {
            @media screen and (max-width: 900px) {
                padding-top: 8px;
            }
        }
        &--footer {
            @media screen and (max-width: 900px) {
                margin: 0 auto;
            }
        }
    }
    &__text {
        font-size: 14px;
        font-weight: 700;
        color: $color-white;
        &--footer {
            display: block !important;
            font-size: 16px !important;
            @media screen and (max-width: 900px) {
                text-align: center;
            }
        }
        @media screen and (max-width: 900px) {
            display: none;
        }
    }
}