@import '../../styles/variables.scss';

.product {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    border-radius: 6px;
    background-color: $color-white;
    height: 365px;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.2);
    transition: transform 0.3s ease-in-out;
    z-index: 4;
    &--catalog {
        @media screen and (max-width: 500px) {
            height: 300px;
            padding: 10px;
        }
    }
    &--disable {
        opacity: 0.3;
        cursor: default;
        &:hover {
            transform: translateY(0px);
        }
    }
    @media screen and (max-width: 1050px) {
        text-align: center;
    }
    // @media screen and (max-width: 550px) {
    //     min-height: 300px;
    // }
    &:hover {
        transform: translateY(-10px);
        @media screen and (max-width: 1050px) {
            transform: translateY(0px);
        }
    }
    &__img {
        margin: 0 auto;
        width: 200px;
        height: 200px;
        border-radius: 6px;
        margin-bottom: 20px;
        @media screen and (max-width: 550px) {
            width: 180px;
            height: 180px;
        }
        @media screen and (max-width: 500px) {
            width: 200px;
            height: 200px;
        }
        @media screen and (max-width: 500px) {
            &--catalog {
                width: 150px;
                height: 150px;
            }
        }
    }
    &__title {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 30px;
        @media screen and (max-width: 500px) {
            margin-bottom: 10px;
        }
    }
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__price {
        font-size: 20px;
        color: $color-green;
        &--catalog {
            @media screen and (max-width: 500px) {
                font-size: 18px;
            }
        }
    }
    &__old-price {
        font-size: 16px;
        color: $color-light-grey;
        text-decoration: line-through;
        margin-bottom: 10px;
    }
    &__new-price {
        font-size: 20px;
        color: $color-red;
    }
}