@import '../../styles/variables.scss';

.product {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
    border-radius: 6px;
    background-color: $color-white;
    min-height: 350px;
    -webkit-box-shadow: 1px 1px 15px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 1px 15px 0px rgba(0,0,0,0.3);
    box-shadow: 1px 1px 15px 0px rgba(0,0,0,0.3);
    transition: transform 0.3s ease-in-out;
    @media screen and (max-width: 1050px) {
        text-align: center;
    }
    @media screen and (max-width: 550px) {
        min-height: 300px;
    }
    &:hover {
        transform: translateY(-10px);
        @media screen and (max-width: 1050px) {
            transform: translateY(0px);
        }
    }
    &__img {
        margin: 0 auto;
        width: 200px;
        height: 200px;
        margin-bottom: 20px;
        @media screen and (max-width: 550px) {
            width: 150px;
            height: 150px;
        }
    }
    &__title {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 30px;
    }
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__price {
        font-size: 16px;
    }
}