@import '../../styles/variables.scss';

.header {
    padding: 16px 0;
    z-index: 5;
    background-color: $color-green;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__cart {
        width: 158px;
        padding: 10px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $color-white;
        border-radius: 6px;
        transition: transform 0.2s ease-in-out;
        cursor: pointer;
        &:hover {
            transform: translateX(-10px);
        }
        @media screen and (max-width: 600px) {
           font-size: 12px;
           width: 130px;
           padding: 10px;
        }
    }
    &__cart-img {
        width: 30px;
        height: 30px;
        margin-right: 10px;
        @media screen and (max-width: 600px) {
            width: 25px;
            height: 25px;
        }
        @media screen and (max-width: 400px) {
            width: 20px;
            height: 20px;
        }
    }
    &__cart-text {
        color: $color-green;
        font-weight: 600;
    }
    &__mobile-menu {
        background-color: $color-green;
        display: none;
        left: 0;
        padding-top: 90px;
        padding-bottom: 40px;
        position: fixed;
        top: -100%;
        transition: top .3s ease-in-out;
        width: 100%;
        z-index: 46;
        &--active {
            top: 0;
        }
        @media screen and (max-width: 900px) {
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
    }
    &__login {
        margin-right: 10px;
        color: $color-white;
        &--comp {
            @media screen and (max-width: 900px) {
                display: none;
            }
        }
        &--tel {
            width: 30px;
            height: 30px;
            margin: 0 auto;
            margin-top: 30px;
        }
        & p {
            margin-right: 10px;
        }
        & img {
            width: 30px;
            height: 30px;
        }
    }
}

.overlay {
    position: fixed;
    background-color: transparent;
    &--active {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($color-black, 0.6);
        z-index: 45;
    }
}