@import '../../styles/variables.scss';

.cart-item {
    position: relative;
    padding: 10px;
    background-color: rgba(65, 94, 67, 0.031372549);
    border-color: $color-light-grey;
    border-radius: 6px;
    box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.3);
    &:not(:last-child) {
        margin-bottom: 20px;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__img {
        width: 100px;
        height: 100px;
        border-radius: 6px;
        margin-right: 20px;
    }
    &__title {
        font-weight: 600;
        font-size: 18px;
        margin-bottom: 10px;
    }
    &__content {
        width: 240px;
    }
    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__counter {
        display: flex;
        align-items: center;
        color: $color-green;
        background-color: #bae1b6;
        border-radius: 6px;
        padding: 8px;
    }
    &__count-btn {
        padding: 5px;
        font-size: 18px;
        border-radius: 6px;
        transition: color 0.3s linear;
        @media screen and (min-width: 900px) {
            &:hover {
                color: $color-white;
            }
        }
    }
    &__quanity {
        font-size: 16px;
        margin: 0 15px;
    }
    &__summ {
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        border-radius: 6px;
        color: $color-green;
    }
    &__delete-btn {
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 16px;
        border-radius: 6px;
    }
    &__trash {
        width: 25px;
        height: 25px;
        fill: $color-black;
        transition: fill 0.2s linear;
        &:hover {
            fill: $color-red;
        }
    }
}